#aboutUs {
    color:black;
    margin: 10% auto;
}
.heading{
	width: 100%;
    text-align: center;
    margin-top:5%;
}
.heading >h1{
    font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  font-size: 50px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: left;
    padding: 5px;
    margin-bottom: 5%; 
}
.img {
    margin-left: 7%;
}
.img > img {
    height: 300px;
    width: 350px;
}

.content {
    padding: 30px;
    width: 65%;
}

.content > p{
    line-height: 25px;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: justify;
}