*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .nav-logo {
    font-size: 30px;
    color: #85c6d6;
  }
  .logo{
    cursor: pointer;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  
  /* nav-links */
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 50%;
    position: relative;
    top: 8px;
    gap: 1.4em;
  }
  a {
    text-decoration: none;
  }
  .nav-links li a {
    line-height: 2.5;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
  }
  .nav-links li a:hover,
  .copyright a:hover {
    color: #e92d85;
    transition: all 0.6s ease-in-out;
  }
  .nav-links li a::after,
  .copyright a::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -7px;
    background: #e92d85;
    height: 4px;
    transition: all 0.6s ease-in-out;
  }
  .nav-links li a:hover:after,
  .nav-links li a:focus:after,
  .nav-links li a:active:after,
  .copyright a:hover:after,
  .copyright a:focus:after,
  .copyright a:active:after {
    left: 0;
    right: auto;
    width: 100%;
    z-index: 0;
  }
  
  .nav-links > img {
    position:absolute;
    right:-5%;
    bottom: -37%;
    width:130px;

  }