.footer-box{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.footer-box > section{
    margin: 0px 60px ;
    display: flex;
    flex-direction: column;
}
.footer-box > section>span{
    margin: 5px;
    letter-spacing: 2px;
}

.logo-footer>img{
    width: 150px;
    border-radius: 20px;
}

.quick-link > a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}
.quick-link>a:hover{
    color :black;
}


/* CONTATCT FORM */
.contact-form{
    display: flex;
}
.contact-form>form{
    display: flex;
    flex-direction: column;
}

.contact-form > form >h3{
    margin-top: 10px;
    font-size: 20px;
}

.contact-form > form > input {
    margin: 5px;
    padding: 7px;
    width: 300px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
  background-color: rgb(7, 44, 62);
    color: rgb(255, 255, 255);
}

.contact-form > form > button{
    margin: 5px;
    padding: 7px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(5, 27, 38);
    color: white;
}

.contact-form > form > textarea {
    margin: 5px;
    border-radius: 7px;
    background-color: black;
    color: white;
    height: 100px;
    border: none;
}


.footer-bottom > p{
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 25px;
}
.footer-bottom>p>a{
    text-decoration: none;
    color: rgb(0, 191, 255);
    cursor: pointer;
}
