body,
html,
* {
  font-family:'Roboto', sans-serif;
  /* font-family: 'Alfa Slab One', cursive; */
  /* font-family:'Allerta Stencil'; */
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Bebas Neue', cursive;*/

}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* SOCIAL MEDIA ICONS */
.media-handels h1 {
  padding:100px;
  color:black;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  font-size: 50px;
  text-align: center;
}
.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon > a > img {
  width: 120px;
  margin: auto 30px;
  transition: all 0.4s ease-in-out;
}
.social-container {
  transition: all 0.6s ease-in-out;
  height: 400px;
  width: 100%;
  text-align: center;
}

.social-icon > a > img:hover {
  transform: rotate(-10deg);
}


/* POSTER DESIGN  */

.poster-container{
  background: black;
  position:relative;
  overflow: hidden;
}
.poster-container > h1{
  color:white;
  text-align:center;
  top:30px;
  padding:10px;
  z-index:3;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  font-size: 50px;
  position:relative;
}

.poster-body{
  width:100%;
  margin:auto;
  display:flex;
  position:relative;
  height:500px;
  justify-content:center;
  align-items:center;
}
.poster-img {
  display: flex;
  justify-content: center;

}
.poster-img > img{
  width:500px;
  height:'inherit';
  margin: "auto";
}

.poster-smallPara{
  color:white;
  justify-content:center; 
}
.poster-smallPara>p{
  margin:auto 50px;
  letter-spacing:2px;
  line-height:25px;
  font-size:14px;
  text-align: justify;
}

.poster-smallPara > a {
  text-decoration:none;
  margin: 10px;
}
.poster-smallPara > a>h4{
  text-align:center;
  color:white;
  position:relative;
  border-radius:5px;
  margin:auto;
  padding: 7px;
  width:30%;
  background-color: rgba(86, 195, 228, 0.74);
  box-shadow:inset;
  color:black;
  cursor:pointer;
  font-size: 17px;
}
.poster-smallPara > a>h4:hover{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;  
}


/* JOIN US FORM */
.mb-3>input{
  font-size: 13px;
}