@media screen and (max-width:600px) {
    /*navbar*/
    .navbar{
        margin-top: 0px;
        margin-left: 0px;
    }
    .nav-links {
      opacity: 0;
      visibility: hidden;
    }

    /* hamburger menu */
    

    /* slideshow */
    .logo{
        font-size: 40px;
    }
    .carousel-inner{
        height: 50%;
    }
    .bg-text div{
        top: 12%;
    }
    .bg-text {
        position: absolute;
        top: 50%;
        /* left: 45%; */
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        /* padding: 50px; */
        color: white;
        line-height: 14px;
        letter-spacing: 3px;
    }
    .bg-text h1{
        font-size: 25px;
        letter-spacing: 2px;
        line-height: 32px;
        margin-top: 4%;
    }

    .bg-text h2 {
        font-size: 18px;
        margin: 9px;
    }
    .bg-text p {
        font-size: 15px;
        padding: 15px;
    }
    .joinUsDiv {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .joinUs a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    .joinUs {
        border: 3px solid white;
        padding: 10px 25px;
        color: white;
        cursor: pointer;
    }

    /*shakti week*/
    .poster-container{
        height: 42rem;
    }
    .poster-container > h1{
        font-size: 1.8rem;
    }
    .poster-img > img{
        height: 11rem;
        width: 34rem;
        justify-content: center;
        margin-top: -8rem;
        margin-left: -.5rem;
    }
    .poster-smallPara{
        margin-top: 14rem;
    }
    .poster-smallPara > p{
        margin-top: 90%;
        margin-left: -85%;
        width: 170%;
    }
    .poster-smallPara > a > h4{
        margin-left: -3rem;
        width: 7rem;
    }

    /*about us*/
    #aboutUs{
        margin: 5%;
    }
    .box{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .heading{
        position: relative;
        display: inline;
        text-align: center;
        font-family: -webkit-body;
        margin-left: 33%;
        margin-top: 2%;
    }

    .heading h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }
    .img {
        display: flex;
        position: relative;
        margin-left: 1%;
    }
    .img > img {
        height: 210px;
        width: 240px;
    }
    .content {
        position: relative;
        width: 100%;
        padding: 12px;
    }
    .content > p{
        font-size: 0.95rem;
    }

    /* Our Mentors */
    .container-reviews {
        margin: 0;
        height: 28rem;
    }
    .testimonials{
        min-height: 27rem;
        margin-top: 50px;
        margin-bottom: -30%;
    }
    .testimonials .item {
        width: 200px;
        padding: 10px;
    }
    .slider h1{
        font-size: 2.8rem;
        font-weight: 600;
    }
    .cardtitle{
        font-size: 18px;
    } 
    .carddescription{
        font-size: 12px;
    }
    .cardimg {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        max-height: 5rem; 
        max-width: 3rem;
    } 
    .testimonials .item img {
        border-radius: 50%;
        border: 4px solid #3b344d;
    }

 
    /* pastworks - bdd */
    .testim{
        height: 33rem;
    }
    .content-project {
        position: absolute;
        text-align: center;
        top: 10%;
        width: 100%;
    }
    .content-project > h1 {
        font-size: 2.7rem;
        text-align: center;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .content-project > p {
        font-size: 1rem;
        letter-spacing: .8px;
        line-height: 25px;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 30px;
    }
    .content-project >a> button {
        font-size: 15px;
        width: 40%;
        margin: 0rem;
    }

    /* social media handles */
    .media-handels{
        height: 9rem;
    }
    .media-handels h1{
        padding: 10%;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 5px;
    }   
    .social-icon > a > img {
        margin-top: 10%;
        width: 4.8rem;
    }

    /* Aashraya stats */
    .text-stats{
        height: 1300px;
        text-align: center;
    }
    .text-stats h1 {
        margin-top: -10%;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }
    .icon-stats img{
        width: 5rem;
    }
    .icon-stats {
        width: 0px;
        margin-left: 10%;
        margin-right: 27%;
    }
    .icons>div>h3 {
        font-size: 1.1rem;
    }

    /* contact us */
    .text-stats h1 {
        margin-top: 0%;
        font-size: 2.4rem;
    }
    .contact-form-all > div > img{
        visibility: hidden;
    }
    .form-container-box{
        height: 27rem;
        margin-right: 31.6rem;
        margin-top: -30%;
    }

    .form-container-box > input{
        font-size: .95rem;
        padding: 9px;
        margin: 9px;
        width: 18rem;
    }
    .form-container-box > button{
        margin-top: 18px;
        padding: 10px;
    }

    /* footer */
    .logo-footer>img {
        visibility: hidden;
    }
    .footer-box > section{
        margin: 0 1.9rem;
    }
    .footer-box > section > span{
        font-size: 15px;
        margin: 1.5px;
        letter-spacing: 1px;
    }
    .footer-box{
        padding: 0px;
        margin-left: 9rem;
    }
    .contact-form h3{
        font-size: 40px;
    }
    .contact-form{
        font-size: 24px;
    }
    .footer-bottom{
        font-size: 12px;
        margin-top: 25px;
        margin-left: 2px;
    }
    .contact-form > form{
        visibility: hidden;
    }

}